@page "/contracts"
@using BlazingChat.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="col-12">
    @foreach (var contract in ContractList)
    {
        <a href="/chat/@contract.ContactId" class="list-group-item list-group-item-action flex-column align-items-start">
            @contract.FirstName <span> </span>@contract.LastName
        </a>
        
    }
</div>

@code {
    private List<Contact> ContractList = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        ContractList = await Http.GetFromJsonAsync<List<Contact>>("user");      
    }

    private void NavigateToChat(){
        NavigationManager.NavigateTo("/chat");

    }

}
