@page "/contracts"
@using BlazingChat.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="col-12">
    @foreach (var contract in ContractList)
    {
        <a href="/chat/@contract.ContactId" class="list-group-item list-group-item-action flex-column align-items-start">
            @contract.FirstName <span> </span>@contract.LastName
        </a>
        
    }
</div>

@code {
    private List<Contact> ContractList = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        
        ContractList.Add(new Contact(1, "San", "Zhang"));
        ContractList.Add(new Contact(2, "Si", "Li"));
        ContractList.Add(new Contact(3, "Peter", "Ol"));
        ContractList.Add(new Contact(4, "Ewa", "Ka"));
        ContractList.Add(new Contact(5, "Andre", "G"));
    }

    private void NavigateToChat(){
        NavigationManager.NavigateTo("/chat");

    }

}
